In [1]:
#Importando bibliotecas
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Lendo o arquivo Json
base_dados = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [3]:
base_dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
base_dados.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [5]:
#Padronizando os dados individualmente
dados_customer = pd.json_normalize(data= base_dados['customer'])

In [6]:
#Dados de Customer padronizado
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [7]:
#Dados de Phone padronizados
dados_phone = pd.json_normalize(data=base_dados['phone'])
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [8]:
#Dados de Internet padronizados
dados_internet = pd.json_normalize(data=base_dados['internet'])
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [9]:
#Dados de account padronizados
dados_account = pd.json_normalize(data=base_dados['account'])
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [10]:
type(base_dados)

pandas.core.frame.DataFrame

In [11]:
dados_limpo = base_dados.drop(columns=['customer', 'phone','internet','account'])
dados_limpo

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]

In [12]:
#Junção dos dados para um novo DataFrame
base_dados_principal = pd.concat([dados_limpo,dados_customer,dados_phone,dados_internet,dados_account], axis=1)

In [13]:
base_dados_principal

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [19]:
base_dados_principal.describe()

       SeniorCitizen       tenure  Charges.Monthly
count    7267.000000  7267.000000      7267.000000
mean        0.162653    32.346498        64.720098
std         0.369074    24.571773        30.129572
min         0.000000     0.000000        18.250000
25%         0.000000     9.000000        35.425000
50%         0.000000    29.000000        70.300000
75%         0.000000    55.000000        89.875000
max         1.000000    72.000000       118.750000

In [39]:
#Verificando valores nulos
base_dados_principal.isnull().sum()

id                      0
churn                   0
sexo                    0
idoso                   0
parceiro                0
dependentes             0
meses_contrato          0
servico_telefonia       0
multiplas_linhas        0
provedor_internet       0
seguranca_online        0
backup_online           0
protecao_dispositivo    0
suporte_tecnico         0
tv_a_cabo               0
streaming_filmes        0
tipo_contrato           0
fatura_digital          0
metodo_pagamento        0
cobrancas_mensais       0
total_cobrancas         0
dtype: int64

In [40]:
base_dados_principal.shape

(7267, 21)

In [41]:
#Traduzindo as colunas 
colunas = list(base_dados_principal.columns.values)
colunas

['id',
 'churn',
 'sexo',
 'idoso',
 'parceiro',
 'dependentes',
 'meses_contrato',
 'servico_telefonia',
 'multiplas_linhas',
 'provedor_internet',
 'seguranca_online',
 'backup_online',
 'protecao_dispositivo',
 'suporte_tecnico',
 'tv_a_cabo',
 'streaming_filmes',
 'tipo_contrato',
 'fatura_digital',
 'metodo_pagamento',
 'cobrancas_mensais',
 'total_cobrancas']

In [35]:
base_dados_principal.columns = ['id', 'churn','sexo','idoso','parceiro', 'dependentes','meses_contrato','servico_telefonia',
                               'multiplas_linhas','provedor_internet','seguranca_online','backup_online','protecao_dispositivo',
                               'suporte_tecnico','tv_a_cabo','streaming_filmes','tipo_contrato','fatura_digital','metodo_pagamento',
                               'cobrancas_mensais','total_cobrancas']

In [38]:
base_dados_principal.columns

Index(['id', 'churn', 'sexo', 'idoso', 'parceiro', 'dependentes',
       'meses_contrato', 'servico_telefonia', 'multiplas_linhas',
       'provedor_internet', 'seguranca_online', 'backup_online',
       'protecao_dispositivo', 'suporte_tecnico', 'tv_a_cabo',
       'streaming_filmes', 'tipo_contrato', 'fatura_digital',
       'metodo_pagamento', 'cobrancas_mensais', 'total_cobrancas'],
      dtype='object')

In [53]:
#Analisando os dados
tipos_dados = pd.DataFrame(base_dados_principal.dtypes,columns=['Tipos de Dados'])
tipos_dados.columns.name = 'variáveis'
tipos_dados

variáveis            Tipos de Dados
id                           object
churn                        object
sexo                         object
idoso                         int64
parceiro                     object
dependentes                  object
meses_contrato                int64
servico_telefonia            object
multiplas_linhas             object
provedor_internet            object
seguranca_online             object
backup_online                object
protecao_dispositivo         object
suporte_tecnico              object
tv_a_cabo                    object
streaming_filmes             object
tipo_contrato                object
fatura_digital               object
metodo_pagamento             object
cobrancas_mensais           float64
total_cobrancas              object

In [83]:
info_dados = pd.concat([tipos_dados,nulos], axis=1)

In [84]:
info_dados

Variáveis            Tipos de Dados  Valores Nulos
id                           object              0
churn                        object              0
sexo                         object              0
idoso                         int64              0
parceiro                     object              0
dependentes                  object              0
meses_contrato                int64              0
servico_telefonia            object              0
multiplas_linhas             object              0
provedor_internet            object              0
seguranca_online             object              0
backup_online                object              0
protecao_dispositivo         object              0
suporte_tecnico              object              0
tv_a_cabo                    object              0
streaming_filmes             object              0
tipo_contrato                object              0
fatura_digital               object              0
metodo_pagamento             object              0
cobrancas_mensais           float64              0
total_cobrancas              object              0

In [89]:
#Foi gerado um erro na saída dessa célula devido a ter dados vazio, por isso a coluna foi marcada como object e não float.
#base_dados_principal['total_cobrancas'] = pd.to_numeric(base_dados_principal['total_cobrancas'], downcast="float")

In [90]:
base_dados_principal.query('total_cobrancas== " " ')

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,backup_online,protecao_dispositivo,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,

In [91]:
#Troca dos valores vazios por 0 e conversão dos dados para float.
base_dados_principal['total_cobrancas'] = base_dados_principal['total_cobrancas'].replace(" ", 0).astype(float)

In [92]:
base_dados_principal.query('total_cobrancas== " " ')

Empty DataFrame
Columns: [id, churn, sexo, idoso, parceiro, dependentes, meses_contrato, servico_telefonia, multiplas_linhas, provedor_internet, seguranca_online, backup_online, protecao_dispositivo, suporte_tecnico, tv_a_cabo, streaming_filmes, tipo_contrato, fatura_digital, metodo_pagamento, cobrancas_mensais, total_cobrancas]
Index: []

[0 rows x 21 columns]

In [93]:
base_dados_principal.query('total_cobrancas== 0 ')

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,backup_online,protecao_dispositivo,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,0.0
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,0.0
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,0.0
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,0.0
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,0.0
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,0.0
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,0.0
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,0.0
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,0.0
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,0.0
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,0.0

In [96]:
#Verificando dados vazios
base_dados_principal['id'].unique()

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)

In [97]:
base_dados_principal['churn'].unique() #Apresenta dados vazio

array(['No', 'Yes', ''], dtype=object)

In [99]:
base_dados_principal.query('churn == ""')

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,backup_online,protecao_dispositivo,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.20
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [104]:
#Substituindo os dados vazios
base_dados_principal.churn = base_dados_principal.churn.replace("", 'No information')

In [ ]:
#Verificação dos dados Qualitativos

In [107]:
base_dados_principal['churn'].unique()

array(['No', 'Yes', 'No information'], dtype=object)

In [108]:
base_dados_principal['idoso'].unique()

array([0, 1], dtype=int64)

In [109]:
base_dados_principal['sexo'].unique()

array(['Female', 'Male'], dtype=object)

In [110]:
base_dados_principal['parceiro'].unique()

array(['Yes', 'No'], dtype=object)

In [111]:
base_dados_principal['dependentes'].unique()

array(['Yes', 'No'], dtype=object)

In [112]:
base_dados_principal['servico_telefonia'].unique()

array(['Yes', 'No'], dtype=object)

In [113]:
base_dados_principal['multiplas_linhas'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [114]:
base_dados_principal['provedor_internet'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [115]:
base_dados_principal['seguranca_online'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [116]:
base_dados_principal['backup_online'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [117]:
base_dados_principal['protecao_dispositivo'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [118]:
base_dados_principal['suporte_tecnico'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [119]:
base_dados_principal['tv_a_cabo'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [120]:
base_dados_principal['streaming_filmes'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [121]:
base_dados_principal['fatura_digital'].unique()

array(['Yes', 'No'], dtype=object)

In [123]:
base_dados_principal['tipo_contrato'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [124]:
base_dados_principal['metodo_pagamento'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [125]:
#Verificação dos dados Quantitativos

In [129]:
base_dados_principal['meses_contrato'].describe()

count    7267.000000
mean       32.346498
std        24.571773
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: meses_contrato, dtype: float64

In [130]:
base_dados_principal['cobrancas_mensais'].describe()

count    7267.000000
mean       64.720098
std        30.129572
min        18.250000
25%        35.425000
50%        70.300000
75%        89.875000
max       118.750000
Name: cobrancas_mensais, dtype: float64

In [131]:
base_dados_principal['total_cobrancas'].describe()

count    7267.000000
mean     2277.182035
std      2268.648587
min         0.000000
25%       396.200000
50%      1389.200000
75%      3778.525000
max      8684.800000
Name: total_cobrancas, dtype: float64

In [135]:
#Verificação do gasto total
base_dados_principal['total_cobranca_calculado'] = base_dados_principal['meses_contrato'] * base_dados_principal['cobrancas_mensais']
base_dados_principal.head()

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,protecao_dispositivo,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas,total_cobranca_calculado
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,590.4
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,539.1
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,295.6
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,1274.0
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,251.7

In [147]:
#Verificação da diferença entre os valores
base_dados_principal['diferenca'] = base_dados_principal['total_cobranca_calculado'] - base_dados_principal['total_cobrancas']

In [148]:
base_dados_principal.query('diferenca >= 0')

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas,total_cobranca_calculado,diferenca
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,295.60,14.75
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,1274.00,36.15
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,624.60,53.15
13,0019-EFAEP,No,Female,0,No,No,72,Yes,Yes,Fiber optic,...,No,Yes,No,Two year,Yes,Bank transfer (automatic),101.30,7261.25,7293.60,32.35
16,0020-JDNXP,No,Female,0,Yes,Yes,34,No,No phone service,DSL,...,Yes,Yes,Yes,One year,No,Mailed check,61.25,1993.20,2082.50,89.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7257,9975-SKRNR,No,Male,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.90,18.90,0.00
7259,9979-RGMZT,No,Female,0,No,No,7,Yes,No,Fiber optic,...,No,Yes,Yes,One year,Yes,Mailed check,94.05,633.45,658.35,24.90
7260,9985-MWVIX,Yes,Female,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Mailed check,70.15,70.15,70.15,0.00
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,100.60,7.85
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,3717.00,9.40

In [150]:
base_dados_principal.query('diferenca < 0')

,id,churn,sexo,idoso,parceiro,dependentes,meses_contrato,servico_telefonia,multiplas_linhas,provedor_internet,...,suporte_tecnico,tv_a_cabo,streaming_filmes,tipo_contrato,fatura_digital,metodo_pagamento,cobrancas_mensais,total_cobrancas,total_cobranca_calculado,diferenca
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,590.40,-2.90
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,539.10,-3.30
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,251.70,-15.70
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25,7788.70,-115.55
7,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.80,5332.95,-44.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7258,9978-HYCIN,No,Male,1,Yes,Yes,47,Yes,No,Fiber optic,...,No,Yes,No,One year,Yes,Bank transfer (automatic),84.95,4018.05,3992.65,-25.40
7261,9986-BONCE,Yes,Female,0,No,No,4,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),20.95,85.50,83.80,-1.70
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,Yes,No,No,One year,No,Mailed check,55.15,742.90,716.95,-25.95
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,1872.20,-1.50
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,4545.95,-81.70

In [ ]:
#Resumo dos Dados